.nav-admin {
  background-color: #00078d;
  padding: 10px 0;
}

.nav-admin-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-admin-list-item {
  margin: 0 15px;
  color: white;
  display: inline-block;
}

.link {
  text-decoration: none; 
  color: white;
}

.link:hover {
  color: #d4d3d0;
}

.logout-button {
  margin-left: 100px; 
}