
.emp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .emp-search-form,
  .emp-edit-form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fdcb05;
    margin-bottom: 20px;
  }
  
  .emp-heading {
    color: #0b0b0b; 
    text-align: center;
  }
  
  .emp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .emp-label {
    font-size: 16px;
    color: #0f0f0f; 
    margin-bottom: 5px;
  }
  
  .emp-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .emp-button {
    background-color: #141414; 
    color: #fdcb05;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
  }
  
  .emp-button:hover {
    background-color: #59595a; 
  }
  
  .emp-msg {
    color: #181818; 
    text-align: center;
    margin-top: 15px;
  }
  
  @media (max-width: 600px) {
    .search-form,
    .edit-form {
      width: 90%;
    }
  }
  